<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hello</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="myApp">
    <div ng-controller="shoppingListController1 as shop1">
      <input type="text" ng-model="shop1.name" >
      <input type="text" ng-model="shop1.quant" >
      <button type="button" ng-click="shop1.addItemToList()">click!</button>
      <ol>
        <li ng-repeat="item in shop1.items">{{item.name}} . {{item.quant}}</li>
      </ol>
    </div>
    <div ng-controller="shoppingListController2 as shop2">
      <input type="text" ng-model="shop2.name" >
      <input type="text" ng-model="shop2.quant" >
      <button type="button" ng-click="shop2.addItemToList()">click!</button>
      <ol>
        <li ng-repeat="item in shop2.items">{{item.name}} . {{item.quant}}</li>
      </ol>
    </div>
  </body>
</html>
